:root {
    --clr-primary: white; 
    --clr-secondary: rgb(188, 93, 212);
    --clr-secondary-transparency: rgba(188, 93, 212, 0.3);
    --clr-neutral: rgb(15, 15, 15);
    --clr-neutral-transparency: rgba(15, 15, 15, 0.7);

    --fontfamily-primary: 'Quicksand', Arial, Helvetica, sans-serif; /* Font fallbacks */

    --fontweight-title: 900;

    --fontsize-normal: 1rem;
    --fontsize-large: 1.6rem;
    --fontsize-title: 6rem;
}


/* General attributes */
*,
*::after,
*::before {
    box-sizing: border-box;

    text-decoration: none;
    
    padding: 0;
    margin: 0;

    font-family: var(--fontfamily-primary);
    font-size: var(--fontsize-normal);
    color: var(--clr-primary);
}

/* Remove list styles on ul and ol elements with a list role, which suggest default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* H1 Page Title */
h1 {
    font-size: var(--fontsize-title);
    font-weight: var(--fontweight-title);

    text-align: right;
}

hr {
    color: var(--clr-secondary);
}

/* Body */
body {
    /* Background image */
    background-color: var(--clr-neutral); /* Default colour */
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 5rem;
    padding-bottom: 15rem;
}

/* Navigation bar */
.nav-list {
    list-style: none;
    display: flex;

    gap: 1rem;
    background-color: var(--clr-neutral-transparency);

    margin-bottom: 2rem;
}

.nav-list li {
    padding: 1.5rem;
}

.nav a {
    padding: 1rem;
    border-radius: 20px;
}

.nav a:hover {
    background-color: var(--clr-secondary);
}

/* Styling main sections */
.content-box {
    border-radius: 5rem;
    padding: 2rem;
}

.content-box li {
    padding-left: 1rem;
}

.content-box h2 {
    font-size: var(--fontsize-large);
    padding-bottom: 2rem;
}

.neutral-background-clr {
    background-color: var(--clr-neutral-transparency);
}

.secondary-background-clr {
    background-color: var(--clr-secondary-transparency);
}

/* Figure centering */
.photoes {
    text-align: center;
    align-items: center;
}

.photoes h2 {
    font-size: var(--fontsize-large);
    padding: 2rem;
    color: var(--clr-secondary);
}

.photoes img {
    border-radius: 4rem;
    padding: 0.5rem;
}

/* Main grid for layout */
.main-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    padding-block: 2rem;
    margin-inline: auto;
}

/* Grid Fixes */
.primary-box {
    display: flex;
    
    align-items: center;
    justify-content: center;

    grid-column-start: 1;
    grid-row: 1 / span 2;
}

.primary-box h2 {
    text-align: center;
}